*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/backend/mongo-api/node_modules
*log
/backend/mongo-api/package-lock.json
/backend/reactapp/node_modules
/backend/reactapp/package-lock.json
/backend/reactapp/*.log